%div.field
  = f.label :email, "E-mail"
  = f.email_field :email

%div.field
  = f.label :full_name
  = f.text_field :full_name

%div.field
  = f.label :body
  = f.text_area :body, rows: 10

%div.actions
  = f.submit "Pošlji"