%div.field
  = f.label :email, "E-mail"
  = f.email_field :email

%div.field
  = f.label :full_name, "Ime"
  = f.text_field :full_name

%div.field
  = f.label :body, "Sporočilo"
  = f.text_area :body, rows: 10

%div.actions
  = f.submit "Pošlji"